/* Maximum space for text block */
/*.md-grid {
  max-width: initial;
}*/

/* iframes */
/*html, body {
  height: 100%;
}*/

.wrapper {
  width: 100%; 
  max-width: 100%; 
  height: 100%;
  margin: 0 auto; 
  background: #FFFFFF;
}

.h_iframe {
  position: relative; 
  padding-top: 80%;
}

.h_iframe iframe {
  background-color: #FFFFFF;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}        
